In [ ]:
pip install kagglehub

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("marwandiab/ecommerce-website-analyze-ab-test-project")

print("Path to dataset files:", path)

In [2]:
import pandas as pd

dane = pd.read_csv('../data/ab_data.csv')
country = pd.read_csv('../data/countries.csv')

In [3]:
dane

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [4]:
country

        user_id country
0        834778      UK
1        928468      US
2        822059      UK
3        711597      UK
4        710616      UK
...         ...     ...
290579   653118      US
290580   878226      UK
290581   799368      UK
290582   655535      CA
290583   934996      UK

[290584 rows x 2 columns]

In [5]:
fulldata = dane.merge(country, on = 'user_id', how='left')

In [6]:
fulldata

,user_id,timestamp,group,landing_page,converted,country
0,851104,2017-01-21 22:11:48.556739,control,old_page,0,US
1,804228,2017-01-12 08:01:45.159739,control,old_page,0,US
2,661590,2017-01-11 16:55:06.154213,treatment,new_page,0,US
3,853541,2017-01-08 18:28:03.143765,treatment,new_page,0,US
4,864975,2017-01-21 01:52:26.210827,control,old_page,1,US
...,...,...,...,...,...,...
294473,751197,2017-01-03 22:28:38.630509,control,old_page,0,US
294474,945152,2017-01-12 00:51:57.078372,control,old_page,0,US
294475,734608,2017-01-22 11:45:03.439544,control,old_page,0,US
294476,697314,2017-01-15 01:20:28.957438,control,old_page,0,US
294477,715931,2017-01-16 12:40:24.467417,treatment,new_page,0,UK

In [7]:
pd.crosstab(fulldata["group"], fulldata["landing_page"])

landing_page  new_page  old_page
group
control           1928    145274
treatment       145311      1965

In [11]:
correcteddata =fulldata[((fulldata["group"]=="control") & (fulldata["landing_page"]=="old_page")) |((fulldata["group"]=="treatment") & (fulldata["landing_page"]=="new_page"))]

In [12]:
correcteddata

,user_id,timestamp,group,landing_page,converted,country
0,851104,2017-01-21 22:11:48.556739,control,old_page,0,US
1,804228,2017-01-12 08:01:45.159739,control,old_page,0,US
2,661590,2017-01-11 16:55:06.154213,treatment,new_page,0,US
3,853541,2017-01-08 18:28:03.143765,treatment,new_page,0,US
4,864975,2017-01-21 01:52:26.210827,control,old_page,1,US
...,...,...,...,...,...,...
294473,751197,2017-01-03 22:28:38.630509,control,old_page,0,US
294474,945152,2017-01-12 00:51:57.078372,control,old_page,0,US
294475,734608,2017-01-22 11:45:03.439544,control,old_page,0,US
294476,697314,2017-01-15 01:20:28.957438,control,old_page,0,US
294477,715931,2017-01-16 12:40:24.467417,treatment,new_page,0,UK