In [2]:
pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.4.0-py3-none-any.whl.metadata (38 kB)
Collecting kagglesdk<1.0,>=0.1.14 (from kagglehub)
  Downloading kagglesdk-0.1.14-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: packaging in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from kagglehub) (2.32.5)
Collecting tqdm (from kagglehub)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting protobuf (from kagglesdk<1.0,>=0.1.14->kagglehub)
  Downloading protobuf-6.33.3-cp310-abi3-win_amd64.whl.metadata (593 bytes)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from requests->kagglehub) (2025.8.3)
Requirement already satisfied: colorama in c:\users\tall4\appdata\local\programs\python\python313\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.4.0-py3-none-any.whl (69 kB)
Downloading kagglesdk-0.1.14-py3-none-any.whl (159 kB)
Downloading protobuf-6.33.3-cp310-abi3-win_amd64.whl (436 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, protobuf, kagglesdk, kagglehub

   ---------- ----------------------------- 1/4 [protobuf]
   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   -------------------- ------------------- 2/4 [kagglesdk]
   ---------------------------------------- 4/4 [kagglehub]

Successfully installed kagglehub-0.4.0 kagglesdk-0.1.14 protobuf-6.33.3 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\tall4\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("marwandiab/ecommerce-website-analyze-ab-test-project")

print("Path to dataset files:", path)

Downloading to C:\Users\tall4\.cache\kagglehub\datasets\marwandiab\ecommerce-website-analyze-ab-test-project\1.archive...

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5.08M/5.08M [00:05<00:00, 974kB/s]

Extracting files...
Path to dataset files: C:\Users\tall4\.cache\kagglehub\datasets\marwandiab\ecommerce-website-analyze-ab-test-project\versions\1

In [17]:
import pandas as pd

dane = pd.read_csv('data/ab_data.csv'))
country = pd.read_csv('data/countries.csv')

AttributeError: module 'pandas' has no attribute 'df'

In [15]:
dane.head

<bound method NDFrame.head of         user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]>

In [16]:
country.head

<bound method NDFrame.head of         user_id country
0        834778      UK
1        928468      US
2        822059      UK
3        711597      UK
4        710616      UK
...         ...     ...
290579   653118      US
290580   878226      UK
290581   799368      UK
290582   655535      CA
290583   934996      UK

[290584 rows x 2 columns]>

In [18]:
ddane=pd.df(dane)

AttributeError: module 'pandas' has no attribute 'df'

In [23]:
dane

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [24]:
country

        user_id country
0        834778      UK
1        928468      US
2        822059      UK
3        711597      UK
4        710616      UK
...         ...     ...
290579   653118      US
290580   878226      UK
290581   799368      UK
290582   655535      CA
290583   934996      UK

[290584 rows x 2 columns]

In [25]:
fulldata = dane.merge(country, on = 'user_id', how='left')

In [26]:
fulldata

,user_id,timestamp,group,landing_page,converted,country
0,851104,2017-01-21 22:11:48.556739,control,old_page,0,US
1,804228,2017-01-12 08:01:45.159739,control,old_page,0,US
2,661590,2017-01-11 16:55:06.154213,treatment,new_page,0,US
3,853541,2017-01-08 18:28:03.143765,treatment,new_page,0,US
4,864975,2017-01-21 01:52:26.210827,control,old_page,1,US
...,...,...,...,...,...,...
294473,751197,2017-01-03 22:28:38.630509,control,old_page,0,US
294474,945152,2017-01-12 00:51:57.078372,control,old_page,0,US
294475,734608,2017-01-22 11:45:03.439544,control,old_page,0,US
294476,697314,2017-01-15 01:20:28.957438,control,old_page,0,US
294477,715931,2017-01-16 12:40:24.467417,treatment,new_page,0,UK

In [28]:
pd.crosstab(fulldata["group"], fulldata["landing_page"])

landing_page  new_page  old_page
group
control           1928    145274
treatment       145311      1965

In [ ]:
zmiana